<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changyue.o2o.dao.AwardDao">

    <sql id="base_column_list">award_id,award_name,award_desc,award_img,point,priority,create_time,last_edit_time,enable_status,shop_id</sql>
    <sql id="insert_column_list">award_name,award_desc,award_img,point,priority,create_time,last_edit_time,enable_status,shop_id</sql>

    <select id="queryAwardAllList" resultType="com.changyue.o2o.entity.Award">
        select
        <include refid="base_column_list"/>
        from tb_award
        <where>
            <if test="awardCondition.awardName!=null">and award_name like '%${awardCondition.awardName}%'</if>
            <if test="awardCondition.shopId!=null">and shop_id #{awardCondition.shopId}</if>
            <if test="awardCondition.enableStatus!=null">and enable_status #{awardCondition.enableStatus}</if>
        </where>
        order by
        priority DESC
    </select>

    <select id="queryAwardList" resultType="com.changyue.o2o.entity.Award">
        select
        <include refid="base_column_list"/>
        from tb_award
        <where>
            <if test="awardCondition.awardName!=null">and award_name like '%${awardCondition.awardName}%'</if>
            <if test="awardCondition.shopId!=null">and shop_id #{awardCondition.shopId}</if>
            <if test="awardCondition.enableStatus!=null">and enable_status #{awardCondition.enableStatus}</if>
        </where>
        order by
        priority DESC
        limit #{rowIndex},#{pageSize}
    </select>

    <select id="queryAwardCount" resultType="int">
        select count(1) form tb_award
    </select>

    <select id="queryAwardById" resultType="com.changyue.o2o.entity.Award">
        select
        <include refid="base_column_list"/>
        from tb_award where award_id = #{awardId}
    </select>

    <insert id="insertAward" parameterType="com.changyue.o2o.entity.Award" useGeneratedKeys="true" keyColumn="award_id"
            keyProperty="awardId">

        insert into tb_award(<include refid="insert_column_list"/>)
        values
        (#{awardName},#{awardDesc},#{awardImg},#{point},#{priority},#{createTime},#{lastEditTime},#{enableStatus},#{shopId})

    </insert>

    <update id="updateAward" parameterType="com.changyue.o2o.entity.Award">
        update tb_award
        <set>
            <if test="awardName!=null">award_name = #{awardName},</if>
            <if test="awardDesc!=null">award_desc = #{awardDesc},</if>
            <if test="awardImg!=null">award_img = #{awardImg},</if>
            <if test="point!=null">point = #{point},</if>
            <if test="priority!=null">priority = #{priority},</if>
            <if test="lastEditTime!=null">last_edit_time = #{lastEditTime}</if>
            <if test="enableStatus!=null">enable_status = #{enableStatus}</if>
        </set>
        where award_id =#{awardId} and shop_id = #{shopId}
    </update>

    <delete id="deleteAward">
        delete from tb_award where award_id =#{awardId} and shop_id = #{shopId}
    </delete>

</mapper>