<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changyue.o2o.dao.ProductCategoryDao">

    <select id="queryProductCategoryList" resultType="com.changyue.o2o.entity.ProductCategory" parameterType="Long">
        select *
        from tb_product_category
        where shop_id = #{shopId}
        order by priority desc
    </select>

    <insert id="batchInsertProductCategory" parameterType="java.util.List">
        insert into
        tb_product_category(product_category_name,priority,create_time,shop_id)
        values
        <foreach collection="list" item="p" index="index" separator=",">
            (
            #{p.productCategoryName},
            #{p.priority},
            #{p.createTime},
            #{p.shopId}
            )
        </foreach>
    </insert>

    <delete id="deleteProductCategory">
        delete
        from tb_product_category
        where product_category_id = #{productCategoryId}
          and shop_id = #{shopId}
    </delete>

</mapper>